body{
    font-family: 'PT Sans', "Tahoma", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
   

    
    width: 1200px;
    margin: 0 auto;
}
.logo{
    position: absolute;
    left: 850px;
    
}

.main-navigation{
    background-color: white;
    font-size: 14px;
    font-weight: 700;
  color: black;
    height: 60px;
    
}
.site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.site-navigation a{
    color: black;
}
.site-navigation a:hover, .ssite-navigation a:focus{
color: #81b3d2;
}
.site-navigation a:visited{
color: #b7b7b7;
}
.sedona{
    display: none
}

.maintext{
    background: url("../img/background_photo.jpg") repeat 0 0;;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cadetblue;
    background-position: 50% 50%;
    text-align: center;
    height: 500px;
}
.maintext img{
    padding-top: 75px;
}
.border{
    position: relative;
    bottom: 50px;
}

a{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;    
    
}
.center-text{
    text-align: center;
    background-color: white;
    height: 215px;
}
.center-text h2{
    padding-top: 60px;
    width: 440px;
    margin: auto;
}
.line{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.row-line{
    display: flex;
    flex-direction: row-reverse;
}
.blue{
    color: white;
    background-color: #81b3d2;
    height: 255px;
    width: 400px; 
}
.blue p{
    width: 302px;
    margin: auto;
}

.grey{
    background-color: #eeeeee;
    height: 255px;
    width: 400px;
}
.nonelist{
    list-style-type: none;
}
.contacts{
    background-color: #81b3d2;
}
h2{
    font-size: 21px;
}

.house::before{
    content:"";
    background: url("../img/icon-1.png") no-repeat 0% 0%;
    width: 75px;
    height: 72px;
    display:block;
    margin: 0% auto;
}
.food::before{
    content:"";
    background: url("../img/icon-3.png") no-repeat 0% 0%;
    width: 74px;
    height: 70px;
    display:block;
    margin: 0% auto;
}
.relic::before{
    content:"";
    background: url("../img/icon-2.png") no-repeat 0% 0%;
    width: 64px;
    height: 76px;
    display:block;
    margin: 0% auto;
}
.reasons-3, .reasons-list{
    text-align: center;
    
}
.reasons-3{
    background-color: white;
    height: 330px;
}
.reasons-3 li{
    width: 400px;
    margin: auto;
}
.reasons-3 p{
    width: 285px;
    margin: auto;
}
.interesting{
    height: 295px;
    background-color: white;
    text-align: center;
}
.interesting h2{
    padding-top: 100px;
}
.footer-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    
}
.contacts{
    display: flex;
    flex-direction: row;
    
}
.contacts a{
    width: 46px;
    height: 46px;
}