body{
    font-family: 'PT Sans', "Tahoma", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
  padding: 0;

    
    width: 1200px;
    margin: 0 auto;
}
.logo{
    position: absolute;
    left: 850px;
    
}
header{
    padding-top:0;
    margin: auto;
}
.main-navigation{
    background-color: white;
    font-size: 14px;
    font-weight: 700;
  color: black;
    height: 60px;
    padding:0;
}
.site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.site-navigation a{
    color: black;
}
.site-navigation a:hover, .ssite-navigation a:focus{
color: #81b3d2;
}
.site-navigation a:visited{
color: #b7b7b7;
}
.site-navigation a:active{
color: #766357;
}
.sedona{
    display: none
}

.maintext{
    background: url("../img/background_photo.jpg") no-repeat 0 0;;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cadetblue;
    background-position: 50% 50%;
    text-align: center;
    height: 500px;
    
}
.maintext img{
    padding-top: 75px;
}
.border{
    position: relative;
    bottom: 50px;
}

a{
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;    
    
}
.center-text{
    text-align: center;
    background-color: white;
    height: 215px;
}
.center-text h2{
    padding-top: 60px;
    width: 440px;
    margin: auto;
}
.line{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.row-line{
    display: flex;
    flex-direction: row-reverse;
}
.blue{
    color: white;
    background-color: #81b3d2;
    height: 255px;
    width: 400px; 
    align-items: center;    
    
}
.blue p{
    width: 302px;
    margin: auto;
}

.grey{
    background-color: #eeeeee;
    height: 255px;
    width: 400px;
    
}
.nonelist{
    list-style-type: none;
}

h2{
    font-size: 21px;
}

.house::before{
    content:"";
    background: url("../img/icon-1.png") no-repeat 0% 0%;
    width: 75px;
    height: 72px;
    display:block;
    margin: 0% auto;
}
.food::before{
    content:"";
    background: url("../img/icon-3.png") no-repeat 0% 0%;
    width: 74px;
    height: 70px;
    display:block;
    margin: 0% auto;
}
.relic::before{
    content:"";
    background: url("../img/icon-2.png") no-repeat 0% 0%;
    width: 64px;
    height: 76px;
    display:block;
    margin: 0% auto;
}
.reasons-3, .reasons-list{
    text-align: center;
    padding-left: 0;
    margin: auto;
}
.reasons-3{
    background-color: white;
    height: 330px;
}
.reasons-3 li{
    width: 400px;
    margin: auto;
}
.reasons-3 p{
    width: 285px;
    margin: 0 auto;
    color: #333333;
}
.grey p{
    color: #333333;
}

.interesting{
    height: 295px;
    background-color: white;
    text-align: center;
   
}
.interesting h2{
    padding-top: 100px;
    margin: auto;
    font-size: 30px; 
}
.search-hotels{
    background-color:#766357;
    height: 86px;
    width: 568px;
    color: white;
    font-size: 21px;
    margin: auto;
    text-align: center;
}
.form1{
    background-color: white;
    height: 395px;
    width: 570px;
    margin: auto;
    position: absolute;
    right:650px;
    box-shadow: 0 5px 10px -5px #b7b7b7;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.form1 .date:first-child{
    padding-top: 56px;
}
.search{
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    background-color: #81b3d2;
    color: white;
    font-family: 'PT Sans', "Tahoma", sans-serif;
    font-size: 21px;
    font-weight: 700;
    height: 50px;
    width: 460px;
    border: none;
}

.date-input{
    border: #000;
    width: 364px;
    height: 38px;
    background-color: #f2f2f2;
    font-weight: 700;
  }
  .number-input{
    border: #000;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
  }
  .put{
      display: flex;
      flex-direction: row;
      width: 440px;
      justify-content: space-around;
  }
  .minus, .plus{
    border: #000;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    font-weight: 700;
  }
  input::placeholder {
    color: red;
  }
.footer-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100px;
    margin: 0 auto;
    
}
.footer-navigation p{
    font-size: 21px;
    font-weight: 700;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 150px;
    
}
.contacts li{
    background-color: #81b3d2;
    width: 46px;
    height: 46px;
    padding-left: 6px;
    margin: auto;
}
.contacts a{
    padding-left: 6px;
    margin: auto;
}




/*  page 2 */

.form2{
    background-color: #567a9c;
    background-image: url("../img/filter_background.jpg");
    height: 220px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
}
.checkbox-set{
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.checkbox-set legend{
    font-size: 16px;
    font-weight: 700;
}

input[type="checkbox"] {
    display: none;
   }
    
   label {
     
    cursor: pointer;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
   }
    
   label:before {
    content: " ";
    
    display: inline-block;
   /* шрифт Awesome*/
    
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 23px;
    height: 23px;
    background: none;
    border: 3px solid white;
    border-image: initial;
    border-radius: 3px; 
    vertical-align: middle;
   }
    
   input:checked + label:before {
   /* глифон - галочка */
    content: " ";
    background: url("/img/checkbox-on.png") no-repeat 0% 05; 
    
   }
    
   input:disabled + label:before {
    background:none;
    color: #6a6a6a;
   }





        .filter-range {
            width: 330px;
        
        
            color: #ffffff;
            text-transform: uppercase;
        }
        .filter-range-title {
            margin-bottom: 9px;
        
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
        }
        .price-controls {
            position: relative;
            
            height: 36px;
            margin-bottom: 20px;
            
            font-size: 0;
        
            border: 2px solid #ffffff;
            border-radius: 2px;
        }
        .price-controls::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
        
            width: 2px;
            height: 22px;
        
            background: #ffffff;
            transform: translate(-50%, -50%);
        }
        .price-controls label {
            display: inline-block;
        
            font-size: 14px;
            line-height: 38px;
            vertical-align: top;
        
            cursor: pointer;
        }
        .price-controls .min-price,
        .price-controls .max-price {
            width: 90px;
            padding-left: 65px;
        }
        .price-controls input {
            width: 50px;
            margin: 0;
        
            color: inherit;
            font: inherit;
        
            background: none;
            border: none;
        }
        .range-controls {
            position: relative;
        
            margin-bottom: 32px;
        }
        .range-controls .scale {
            height: 2px;
        
            background: rgba(255, 255, 255, 0.3);
        }
        .range-controls .bar {
            width: 80%;
            height: 2px;
        
            background: #ffffff;
        }
        .range-toggle {
            position: absolute;
            top: -9px;
            
            width: 4px;
            height: 4px;
        
            background: #ababab;
            border: 8px solid #ffffff;
            border-radius: 50%;
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            cursor: pointer;
        }
        .range-toggle:hover {
            background: #1c4f80;
        }
        .range-toggle-min {
            left: 0;
        }
        .range-toggle-max {
            left: 80%;
        }
        .btn-transparent {
            display: block;
            margin: 0 auto;
            padding: 6px 35px;
        
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            text-transform: uppercase;
        
            background: transparent;
            border: 2px solid #ffffff;
            border-radius: 2px;
            cursor: pointer;
        }
        .btn-transparent:hover {
            color: #000000;
        
            background: #ffffff;
        }

.search-filter{
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}
.search-filter .text-sort{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
    color: #ababab;
}
.search-filter .text-sort:hover{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
    color: #81b3d2;
}
.search-filter .text-sort:active{
    text-decoration: none;
    color: black;
}
.search-filter h2{
    flex-grow: 1;
}
.search-filter p{
    flex-grow: 1;
}
.text-sort{
    flex-grow: 1;
}
.trangle{
    flex-grow: 6;
    justify-self: flex-end;
}

.hotels-list{
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 0 auto;
}
.hotel{
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    display: flex;
    flex-direction:row;
  justify-content: space-between;
     
}

.rate{
  
    justify-self: end;
}
.star-list{
    display: flex;
    
}
.stars::before{
    content:"";
    background: url("../img/star.png") no-repeat 0% 0%;
    width: 18px;
    height: 17px;
    display:block;
    
}
.rate-box{
    background-color: #f2f2f2;
    color: #333333;
    width: 110px;
    height: 27px;
    
}
.more{
    background-color: #81b3d2;
    color: white;
    height: 27px;
    width: 110px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; 
}
.more:hover{
    background-color: #669ec0;
    color: white;
    height: 27px;
    width: 110px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; 
}
.more:active{
    background-color: #5496bd;
    color: #94b9d2;
    height: 27px;
    width: 110px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; 
}
.book{
    background-color: #766357;
    color: white;
    height: 27px;
    width: 142px;
    font-size: 14px;
    font-weight: 700;
}
.book:hover{
    background-color: #604e43;
    color: white;
    height: 27px;
    width: 142px;
    font-size: 14px;
    font-weight: 700;
}
.book:active{
    background-color: #503e33;
    color: #928a85;
    height: 27px;
    width: 142px;
    font-size: 14px;
    font-weight: 700;
}
.namehotel{
    color: black;
}
.namehotel:hover{
    color: #81b3d2;
}
.namehotel:active{
    color: #cacaca;
}